__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.idea/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/a
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
data/
*.db
*.sqlite
*.sqlite3
.qdrant/
qdrant_storage/
.claude
